# Project
PROJECT_NAME="my project"
DEBUG=True

# Security (vervang door een eigen random string!)
SECRET_KEY=71ebbce295446b5d02b4e322170b5115feade27a2f39d3a44b7016fc1c168aae

# Database
POSTGRES_SERVER=db
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb

# CORS (komma-gescheiden lijst)
BACKEND_CORS_ORIGINS=http://localhost:3000,https://mijnapp.nl