# Project
PROJECT_NAME="Pyfastic"
DEBUG=True

# Security (vervang door een eigen random string!)
SECRET_KEY=dcbe43ef23199877ac89de

# Database inloggegevens
POSTGRES_USER=super_user
POSTGRES_PASSWORD=super
POSTGRES_DB=pyfastic

# Netwerkinstellingen
# Gebruik 'localhost' voor lokale ontwikkeling buiten Docker
# Gebruik de servicenaam (bijv. 'db') als je FastAPI in Docker draait
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432

# CORS (komma-gescheiden lijst)
BACKEND_CORS_ORIGINS=http://localhost:3000,https://mijnapp.nl

# Celery instellingen
REDIS_HOST=localhost
REDIS_PORT=6379
PYTHONPATH=./src